<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="CustomConfiguration" type="Proderj.Foundation.Common.Configuration.CustomConfigurationSection, Proderj.Foundation.Common" />
    <section name="log4net"             type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\logs\novo_docente\app" />
      <appendToFile value="true" />

      <rollingStyle value="Date" />

      <!-- FORMATO DO ARQUIVO -->
      <datePattern value=".yyyy-MM-dd'.log'" />

      <staticLogFileName value="false" />
      <!-- <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />-->

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ERROR" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  
  <appSettings>
    <add key="TempoMaximoLancamentoNotas" value="60" />
    <add key="VersaoSufixo" value="D" />

    <!--Informaçoes do servidor de produção-->
    <!--<add key="ReportServices_Pasta" value="Lyceum" />
    <add key="ReportServices_CaminhoServidor" value="http://BDReportConexao/ReportServer" />
    <add key="ReportServices_Credencial_Usuario" value="***" />
    <add key="ReportServices_Credencial_Senha" value="***" />
    <add key="ReportServices_Credencial_Dominio" value="BDReportConexao" />-->

    <!--Informaçoes do servidor de desenvolvimento-->
    <add key="ReportServices_Pasta" value="Lyceum" />
    <add key="ReportServices_CaminhoServidor" value="http://10.11.69.201/ReportServer" />
    <add key="ReportServices_Credencial_Usuario" value="reportdesenv" />
    <add key="ReportServices_Credencial_Senha" value="report@10121810" />
    <add key="ReportServices_Credencial_Dominio" value="URANO" />

	<!--Informaçoes do servidor de homologacao 
    <add key="ReportServices_Pasta" value="Lyceum" />
    <add key="ReportServices_CaminhoServidor" value="http://10.11.69.200/ReportServer" />
    <add key="ReportServices_Credencial_Usuario" value="report_homolog" />
    <add key="ReportServices_Credencial_Senha" value="report@10501266" />
    <add key="ReportServices_Credencial_Dominio" value="10.11.69.200" /> -->
	
    <!--Informacoes do servidor Oberon
    <add key="ReportServices_Pasta" value="Lyceum" />
    <add key="ReportServices_CaminhoServidor" value="http://10.11.69.199/ReportServer" />
    <add key="ReportServices_Credencial_Usuario" value="desenvolvimento" />
    <add key="ReportServices_Credencial_Senha" value="0b3r0n2017" />
    <add key="ReportServices_Credencial_Dominio" value="10.11.69.199" />-->
    
    <!--Informaçoes do servidor de prototipaçao-->
    <!--<add key="ReportServices_Pasta" value="Lyceum" />
    <add key="ReportServices_CaminhoServidor" value="http://10.11.69.197/ReportServer" />
    <add key="ReportServices_Credencial_Usuario" value="report_prototipacao" />
    <add key="ReportServices_Credencial_Senha" value="report@10121814" />
    <add key="ReportServices_Credencial_Dominio" value="10.11.69.197" />-->

    <add key="DataInicioCampanha" value="20/06/2016"/>
    <add key="DataFimCampanha" value="28/06/2016"/>
    <add key="BloqueiaDadosDocentesEmCampanha" value="true"/>
    <add key="BloqueiaConsultaQHIEmCampanha" value="false"/>
    
    <add key="caminhoDol" value="https://desenvolvimento.educacao.rj.gov.br/DocenteOnline"/>
    <add key="duracaoDoTokenEmSegundos" value="10" />

     <!--Dados gerais para envio Email pela API-->
    <add key="EmailApi_Host" value="smtp.office365.com" />
    <add key="EmailApi_Port" value="587" />
    <add key="EmailApiAuthUrl" value="https://aplicacoes.educacao.rj.gov.br/EmailApi/Auth" />
    <add key="EmailApiNewEmailUrl" value="https://aplicacoes.educacao.rj.gov.br/EmailApi/NewEmail" />
    <add key="EmailApiRunOutboxUrl" value="https://aplicacoes.educacao.rj.gov.br/EmailApi/RunOutbox" />
    <add key="EmailApiLogin" value="seeduc" />
    <add key="EmailApiSenha" value="f6D6lRNCUVnO7P*CEMd212&amp;Srb0a8wiLliMAp6G$NfGSamLnhr" />

    <!-- Redefinição de Senha -->
    <add key="EmailRedefinicaoSenha_From" value="naoresponda@educacao.rj.gov.br" />
    <add key="EmailRedefinicaoSenha_FromName" value="Redefinição de Senha" />
    <add key="EmailRedefinicaoSenha_UserName" value="naoresponda@educacao.rj.gov.br" />
    <add key="EmailRedefinicaoSenha_Password" value="R&amp;ncc&amp;j@" />
    <add key="EmailRedefinicaoSenha_Subject" value="Redefinição de Senha" />
    <add key="EmailRedefinicaoSenha_UrlRoot" value="https://docenteonline.educacao.rj.gov.br/novodocente" />

  </appSettings>

  <connectionStrings>
    <!--Informaçoes do servidor de produção
    <add name="debugConnectionString" connectionString="Data Source=BDConexao;Initial Catalog=LYCEUM;User ID=***;Password=***" />-->

    <!--Informaçoes do servidor de desenvolvimento-->
    <!--Desenvolvimento: 10.11.69.201 | Prototipacao (d-1): 10.11.69.197 | Homologação: 10.11.69.200 | Fechamento: 10.11.69.199-->
    <!--add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/-->    
    <!--<add name="debugConnectionString" connectionString="Data Source=10.11.69.197;Initial Catalog=LYCEUM;User ID=lyceum_rw;Password=produc@0#c0nex@0" />-->
    <add name="debugConnectionString" connectionString="Data Source=10.11.69.201;Initial Catalog=LYCEUM;User ID=lyceum_rw;Password=desnv@87412" />
    <!--<add name="debugConnectionString" connectionString="Data Source=10.11.69.200;Initial Catalog=LYCEUM;User ID=lyceum_rw;Password=produc@0#c0nex@0" />-->
  </connectionStrings>



      <CustomConfiguration>
    <loadSettings connectionID="debugConnectionString" databaseType="SQL">
      <mapAssemblies>
        <add assembly="Proderj.DOL.Domain.ClassMap" />
      </mapAssemblies>
    </loadSettings>
  </CustomConfiguration>

  <system.web>
    <httpRuntime requestValidationMode="4.0" enableVersionHeader="false" />
    <httpCookies httpOnlyCookies="true" requireSSL="false" /> <!-- Valores padrão - httpOnlyCookies="false" requireSSL="false" -->

    <globalization uiCulture="pt-br" culture="pt-br" />

    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
    -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>

    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Forms">
      <forms loginUrl="~/" timeout="2880" />
    </authentication>

    <machineKey validationKey="F20FD78CD7A971F27B24BA32914D7BEF4A17F94D6CAD8264D7E96AA202748A74A899CD373B34B1753CA9A7B90E64F2B0059A93BFC3694AD9FC07B125D9A9EB2A" decryptionKey="47C0B9C3F6192626857A32A28DC82B23AA3812B68724D977EF411D956E876215" decryption="Auto" validation="SHA1" />

    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear />
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>

    <!--<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="1800" />-->
    <sessionState mode="SQLServer" sqlConnectionString="data source=10.11.69.201;user id=aspstate_rw;password=1234567" cookieless="false" timeout="120"/>

    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
    -->
    <!--<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>-->

    <pages validateRequest="true" enableViewState="true" viewStateEncryptionMode="Always" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Linq" />
        <add namespace="System.Collections.Generic" />
      </namespaces>
      <controls>
        <add tagPrefix="rsweb" namespace="Microsoft.Reporting.WebForms" assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </controls>
    </pages>

    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
  </system.web>

  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <!-- Configuração de cache de objetos (conteúdo) estáticos no cliente (browser) -->
    <staticContent>
        <clientCache httpExpires="Wed, 31 Aug 2016 23:00:00 GMT" cacheControlMode="UseExpires" />
    </staticContent>

    <httpProtocol>
        <customHeaders>
            <!-- Tenta remover headers http enviados automaticamente pelo IIS -->
            <remove name="X-Powered-By" />
            <remove name="X-AspNet-Version" />
            <remove name="X-AspNetMvc-Version" />
            <!-- Adiciona diretiva ao header http para impedir carregamento do site em frames de terceiros -->
            <add name="X-Frame-Options" value="SAMEORIGIN" />
            <!-- Adiciona diretiva ao header http para impedir "sniffing" de MIME type pelo browser -->
            <add name="X-Content-Type-Options" value="nosniff" />
            <!-- Adiciona diretiva ao header http para ativar proteção contra XSS no browser IE 8/9, que é desativada por padrão -->
            <add name="X-XSS-Protection" value="1; mode=block" />
        </customHeaders>
    </httpProtocol>

    <modules runAllManagedModulesForAllRequests="true" />

    <handlers>
      <remove name="UrlRoutingHandler" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>

    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>