<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <appSettings>
    <add key="AutoLogin" value="false"/>
    <add key="AutoLoginUser" value=""/>
    <add key="AutoLoginPass" value=""/>
    <add key="AutoLoginCiclo" value="2014"/>

    <add key="PathUpload" value="c:\Inetpub\wwwroot\ModusRVCiclo2014\Upload\"/>

    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>

  <connectionStrings>
    <!--<add name="SQLConnection" connectionString="Data Source=FALCONI-L1232\SQLDEV2008;Initial Catalog=SEEDUCRV_2012;Integrated Security=False;user=sa;password=falconi#2013;Pooling=True;Min Pool Size=10; Max Pool Size=100; MultipleActiveResultSets=True"/>-->
    <add name="SQLConnection" connectionString="Data Source=10.12.18.10;Initial Catalog=MODUSRV;Integrated Security=False;user=MODUSRV_RW;password=WR_VRSUDOM;Pooling=True;Min Pool Size=10; Max Pool Size=100"/>
  </connectionStrings>

  <system.net>
    <mailSettings>
      <smtp from="vrramos@proderj.rj.gov.br">
        <network host="smtps.proderj.rj.gov.br" port="25" userName="vrramos@proderj.rj.gov.br" password="123456"/>
      </smtp>
    </mailSettings>
  </system.net>

  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="pt-BR"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <httpRuntime maxRequestLength="15360"/>

    <!--<customErrors mode="RemoteOnly">
      <error statusCode="404" redirect="~/Error/NotFound"/>
    </customErrors>-->
      <customErrors mode="Off" />

    <authentication mode="Forms">
      <forms loginUrl="~/Login/Index" timeout="30"/>
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\\Application.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="7"/>
      <countDirection value="1"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level [%aspnet-session{userLogin}][%aspnet-request{url}] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>

</configuration>
