/* DYNAMIC HELP */

.BLOCO {
	margin-top: 9pt;
	margin-bottom: 1.5pt;
	color: #0033CC;
	font-weight: bold;
	font-style: normal;
	font-family: "Century Gothic", sans-serif;
	font-size: 12pt;
	background-color: Transparent;
}

.CABECCAMPO {
	font-family: Verdana;
	font-weight: bold;
	margin-left: 15.0pt;
	margin-top: 0.0pt;
	margin-bottom: 2.0pt;
	color: #0033CC;
	font-size: 10pt;
	background-color: Transparent;
}

.DESCBLOCO
{
	margin-left: 15pt;
	text-indent: 0in;
	font-family: Verdana, sans-serif;
	background-color: transparent;
	text-align: justify;
}

.ONLINEOBJ {
	font-family: "Century Gothic", sans-serif;
	font-size: 14pt;
	color: #0033CC;
	font-weight: bold;
	font-style: normal;
	text-align: Left;
	margin-top: 10.5pt;
	margin-bottom: 10.5pt;
	background-color: Transparent;
}

.OPERSUBTITLE
{
	margin-top: 12pt;
	margin-bottom: 1.5pt;
	color: #0033CC;
	font-weight: bold;
	font-style: normal;
	font-family: "Century Gothic", sans-serif;
	font-size: 10pt;
	background-color: Transparent;
}

.PARAMETER-ERROR
{
  background-color: Red;
  color: White;
  font-weight: bold;
  border: double thin white;
}

.TITLE-REF
{
  font-weight: bold;
}
