/****
LOGIN - CONFIRMA TERMO ACEITE - INICIO
****/

.conteudo { width: 755px;margin:auto; }
.conteudo iframe { width:755px;height:300px; }

.conteudo .botoes { width:450px;margin:auto; }


/****
LOGIN - CONFIRMA TERMO ACEITE - FIM
****/
