<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="techne">
      <section name="database" type="Techne.Configuration.NameValueSectionHandler, Techne.Lyceum.Infra" allowLocation="false" />
    </sectionGroup>
    <!--
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" restartOnExternalChanges="true" />
    <section name="seeducInfra" type="Seeduc.Infra.Configuration.SectionHandler, Seeduc.Infra" restartOnExternalChanges="true" />
  </configSections>

  <techne>
    <database>
      <!--Informaçoes para servidor de bando de dados-->
      <!--Desenvolvimento: 10.11.69.201 | Prototipacao (d-1): 10.11.69.197 | Homologação: 10.11.69.200 | Fechamento: 10.11.69.199-->
      <add key="Login" value="Provider=SQLOLEDB.1;Application Name=Techne LyceumWeb;Initial Catalog=Hades;Data Source=10.11.69.201;Connect Timeout=1800" />
      <add key="Hades" value="Provider=SQLOLEDB.1;Application Name=Techne LyceumWeb;Initial Catalog=Hades;Data Source=10.11.69.201;Connect Timeout=1800" />
      <add key="HadesLyc" value="Provider=SQLOLEDB.1;Application Name=Techne LyceumWeb;Initial Catalog=Hades;Data Source=10.11.69.201;Connect Timeout=1800" />
      <add key="Lyceum" value="Provider=SQLOLEDB.1;Application Name=Techne LyceumWeb;Initial Catalog=Lyceum;Data Source=10.11.69.201;Connect Timeout=1800" />
    </database>
  </techne>

  <log4net debug="false">
    <appender name="LogRollingFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <file type="log4net.Util.PatternString" value="C:\Logs\Gestao\Seeduc.Infra.Log_" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <datePattern value="yyyy-MM-dd'.txt'" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%newline[%date - %logger]%newline%-5level%newline%message%newline" />
      </layout>
    </appender>
    <root>
      <priority value="ERROR" />
      <appender-ref ref="LogRollingFileAppender" />
    </root>
    <category name="Seeduc.Infra">
      <priority value="ERROR" />
    </category>
  </log4net>

  <seeducInfra>
    <contextQuery executionTimeout="60">
      <bulk enable="true" size="15" />
    </contextQuery>
    <log enable="true" />
  </seeducInfra>

  <!-- The following code uses the predefined appSettings section.  -->
  <appSettings>
    <!-- BRConfig -->
    <!-- valores possíveis: {"C#","SP"} -->
    <add key="BRConfig" value="C#" />
    <add key="ForceLegacyPasswords" value="True" />
    <add key="Techne.TechLib.ReservedAssemblies" value="mscorlib, mscomctl, vjs, System, Microsoft, Interop, TechneJ, ActiveReports, nunit, EnvDTE" />
    <add key="FolderRS" value="Lyceum" />

    <!--Informaçoes do servidor de produção 10.50.12.28
    <add key="ServerPath" value="http://BDReportConexao/ReportServer" />
    <add key="CredentialUser" value="***" />
    <add key="CredentialPwd" value="***" />
    <add key="CredentialDomain" value="BDReportConexao" />-->

    <!--Informaçoes do servidor de desenvolvimento-->
    <add key="ServerPath" value="http://10.11.69.201/ReportServer" />
    <add key="CredentialUser" value="reportdesenv" />
    <add key="CredentialPwd" value="report@10121810" />
    <add key="CredentialDomain" value="10.11.69.201" />

    <!--Informaçoes do servidor de prototipaçao
    <add key="ServerPath" value="http://10.11.69.197/ReportServer" />
    <add key="CredentialUser" value="desenvolvimento" />
    <add key="CredentialPwd" value="Desenv@756" />
    <add key="CredentialDomain" value="10.11.69.197" />-->

    <!--Informacoes do servidor Oberon
    <add key="ServerPath" value="http://10.11.69.199/ReportServer" />
    <add key="CredentialUser" value="desenvolvimento" />
    <add key="CredentialPwd" value="0b3r0n2017" />
    <add key="CredentialDomain" value="10.11.69.199" />-->

    <!--Informacoes do servidor Homologação
    <add key="ServerPath" value="http://10.11.69.200/ReportServer" />
    <add key="CredentialUser" value="desenvolvimento" />
    <add key="CredentialPwd" value="Desenv$HML21" />
    <add key="CredentialDomain" value="10.11.69.200" />-->
       
    <add key="ValidarGLP" value="false" />
    <add key="GoogleMapsKey.conexao.educacao.rj.gov.br" value="AIzaSyCI4Pik3iWFCjhCLQMsTTtjq1wBBKRhfgg" />
    <!--Chave do google maps criada com e-mail: manopladaeducacao@gmail.com (senha: seeduc123-->
    <add key="BingMapsKey.conexao.educacao.rj.gov.br" value="AqH_LB_eXnXp90vFQ0B2TOB_q45EYj6ezajMkeSx2UqeilFh4STE7tkDh2GjyNqy"/>
    <add key="BingMapsKeyApos15h.conexao.educacao.rj.gov.br" value="AoWWmP0Hkwj7SdtCeUHJf94skc05f0cSoVhqRb326MpPjUJCvPahpUTf8SY7UsuT"/>

    <!--Chave Nova do bing maps criada com e-mail: fmoliveira@educacao.rj.gov.br -->
    <!-- OBS.: NESSA FUNÇÃO TERIA 2 CHAVES, UMA PARA ANTES DAS 15 E OUTRA PARA DEPOIS.. EU ENTENDO QUE É SÓ NECESSARIO 1 CHAVE PARA AMBAS HORAS -->
    <!-- Chave Gerada pelo email fmoliveira@educacao.org.br -->
    <add key="BingMapsKeyApos5h.conexao.educacao.rj.gov.br" value="AqH_LB_eXnXp90vFQ0B2TOB_q45EYj6ezajMkeSx2UqeilFh4STE7tkDh2GjyNqy"/>
    <!-- Chave Gerado pelo email Fabiomco@yahoo.com  -->
    <add key="BingMapsKeyApos8h.conexao.educacao.rj.gov.br" value="AmMfO6-z_E_chSI31Bp2_gmmke8jDmJxME7oCMQ4y8iE85i22XTVOvMCNl1o4CED"/>
    <!-- Chave Gerada pelo email matriculafacil@educacao.rj.gov.br -->
    <add key="BingMapsKeyApos11h.conexao.educacao.rj.gov.br" value="AiuxVA7Afon7PVTqNpSXbuAPufY8F_BLLTOMC1yEa8VGqxp-rp2_S2t-vf3C1OlT"/>
    <!-- Chave Gerada pelo email Fabiomco@gmail.com -->
    <add key="BingMapsKeyApos14h.conexao.educacao.rj.gov.br" value="AjFLSnJH0biz7qXsL3nan2CUU_FyrFYI6PP9Ski08P7aTfiQn9tXE-AUV7hFa2BV"/>
    <!-- Chave Gerada pelo email Fabiomco@gmail.com -->
    <add key="BingMapsKeyApos17h.conexao.educacao.rj.gov.br" value="AoWWmP0Hkwj7SdtCeUHJf94skc05f0cSoVhqRb326MpPjUJCvPahpUTf8SY7UsuT"/>
    <!-- Chave Gerada pelo email Fabiomco76@gmail.com -->
    <add key="BingMapsKeyApos20h.conexao.educacao.rj.gov.br" value="AsrLlXbbTK0EH6iyzzzH3DXDvVgtUZKX0dC1Huj6Ed_KQlzmP-B8MVYOy7pixObo"/>
    <!--Chave criada por Bruno Alexandre-->
    <add key="instrumentos2010" value="true" />
    <add key="PreencherFormularioI" value="true" />
    <add key="PreencherFormularioII" value="false" />
    <add key="PreencherFormularioIX" value="false" />
    <add key="PreencherFormularioX" value="false" />
    <add key="PreencherFormularioXI" value="false" />
    <add key="TabelaPrecos" value="http://www.educacao.rj.gov.br/Extranet/ExtranetLogin.aspx?ReturnUrl=%2fextranet%2fhome.aspx" />
    <add key="LimitePequenaDespesa" value="400" />
    <add key="ObservacaoPequenaDespesa" value="Despesas pequenas, de pronto pagamento, pelas quais não há comprovantes fiscais." />
    <add key="BancoAuditoria" value="POSEIDON" />
    <add key="UsarCache" value="true" />
    <add key="EnviarMail" value="false" />
    <add key="EMailsSisMat" value="equipeconexao@proderj.rj.gov.br;" />
    <add key="EmailMatriculaFase3" value="matriculafacil@educacao.rj.gov.br" /> <!--senha m@tr!cul@2f@se-->
    <add key="EmailMatriculaFase3_Login" value="matriculafacil@educacao.rj.gov.br" />
    <add key="EmailMatriculaFase3_Senha" value="m@tr!cul@2f@se" />
    <add key="EmailSistema" value="voucher@educacao.rj.gov.br" /> <!--senha Seeduc2019-->
    <add key="EmailContratoTemporario" value="copad@educacao.rj.gov.br" /> <!--senha Luk85963-->
    <add key="EmailContratoTemporario_Login" value="copad@educacao.rj.gov.br" />
    <add key="EmailContratoTemporario_Senha" value="Luk85963" />
    <add key="DataFimInformeLogin" value="07/01/2013"/>
    <add key="MinAlunoPorSala" value="10" />
    <add key="MaxAlunoPorSala" value="80" />
    <add key="MinAlunoReforcoPorTurma" value="10" />
    <add key="MaxAlunoReforcoPorTurma" value="20" />
    <add key="BloquearSeriesIniciaisTransfAluno" value="false" />
    <add key="MinCargaHorariaCursoCapacitacao" value="40" />
    <add key="FrequenciaMinimaLancamentoNotas" value="40" />
    <add key="PorcentagemMaximaSemAvaliacaoLancamentoNotas" value="30" />
    <add key="TimeOutConexaoBancoDeDados" value="1800" />
    <add key="aspnet:MaxHttpCollectionKeys" value="5000" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="5000" />
    <add key="VersaoSufixo" value="D" />
    <add key="PeriodoSimultaneo" value="true" />
    <add key="VerificaAlocacaoPeriodoSimultaneo" value="false" />
    <add key="DataInicioOfertaEscola" value="2023-07-12 00:00:00"/>
    <add key="DataFimOfertaEscola" value="2023-09-22 23:59:59"/>
    <add key="DataInicioConfirmacaoOfertaEscola" value="2023-09-20 08:00:00"/>
    <add key="DataFimConfirmacaoOfertaEscola" value="2023-09-21 23:59:59"/>
    <add key="BloquearNumeroMaximoAlunoTurma" value="true" />
    <add key="RetiradaValidacaoDespesa" value="true" />
    <add key="AlunoElegivel" value="1" />
    <!--Chave "AutenticaCertificado", serve para poder Gerar o certificado sem a necessidade do Token-->
      <!-- Colocado em 09/12/19 por Francisco Monteiro-->
    <add key="AutenticaCertificado" value="true" />
    <!--Informaçoes do servidor de desenvolvimento-->
    <add key="AgendaIdTurnosVagas" value="222" />
    <add key="ExibeSAEB" value="false" />
   
    <!--<add key="EMailReset" value="reset.prof@educacao.rj.gov.br" /> -->
    <!-- Email de docente para teste: homologacaodsi@prof.educacao.rj.gov.br Senha: 87654321 -->
    
    <!-- parâmetro usado na tela Curriculo/CHCargos.aspx, conforme ESP "UC-Carga Horária da GLP.docx" -->
    <add key="CH_SEMANAL_TOTAL" value="65" />
    <add key="PrazoResposta" value="2" /> <!--DIAS-->
    <!-- Configurações do MAE -->
    <add key="MaeURLBusca" value="http://10.11.69.138/AutenticidadePDF/Mae" />
    <add key="MaeQRCode" value="http://10.11.69.138/AutenticidadePDF/Mae/{{verificador}}/{{crc}}" />

    <add key="EmailApiAuthUrl" value="https://aplicacoes.educacao.rj.gov.br/EmailApi/Auth" />
    <add key="EmailApiNewEmailUrl" value="https://aplicacoes.educacao.rj.gov.br/EmailApi/NewEmail" />
    <add key="EmailApiRunOutboxUrl" value="https://aplicacoes.educacao.rj.gov.br/EmailApi/RunOutbox" />
    <add key="EmailApiLogin" value="seeduc" />
    <add key="EmailApiSenha" value="f6D6lRNCUVnO7P*CEMd212&amp;Srb0a8wiLliMAp6G$NfGSamLnhr" />

    <!--Dados gerais para envio Email pela API-->
    <add key="EmailApi_Host" value="smtp.office365.com" />
    <add key="EmailApi_Port" value="587" />

    <!--Dados para envio Email Certificação Encceja-->
    <add key="EmailCertificacaoEncceja_From" value="certificacaoencceja@educacao.rj.gov.br" />
    <add key="EmailCertificacaoEncceja_FromName" value="Certificação ENCCEJA" />
    <add key="EmailCertificacaoEncceja_UserName" value="certificacaoencceja@educacao.rj.gov.br" />
    <add key="EmailCertificacaoEncceja_Password" value="R&amp;ncc&amp;j@" />
    <add key="EmailCertificacaoEncceja_Subject" value="Certificação ENCCEJA" />
    <add key="EmailCertificacaoEncceja_UrlRoot" value="http://aplicacoes.educacao.rj.gov.br/Arquivos/CertificacaoEncceja" />

    <!--Dados para envio Email Matricula-->
    <add key="EmailMatriculaFacil_From" value="matriculafacil@educacao.rj.gov.br" />
    <add key="EmailMatriculaFacil_FromName" value="Matrícula Fácil" />
    <add key="EmailMatriculaFacil_UserName" value="matriculafacil@educacao.rj.gov.br" />
    <add key="EmailMatriculaFacil_Password" value="m@tr!cul@2f@se" />
    <add key="EmailMatriculaFacil_Subject" value="Convocação Matrícula Fácil" />

    <!-- Prestação de Contas - Fornecedor - Endpoints para envio de E-mail de confirmação e E-mail de redefinição de senha -->
    <add key="SiteFornecedorEmailConfirmacaoUrl" value=" https://desenvolvimento.educacao.rj.gov.br/SiteFornecedor/Shared/EnviarEmailConfirmacao" />
    <add key="SiteFornecedorEmailRedefinicaoSenhaUrl" value=" https://desenvolvimento.educacao.rj.gov.br/SiteFornecedor/Shared/EnviarEmailRedefinicaoSenha" />
    <add key="SiteFornecedorTrocarEmailUrl" value=" https://desenvolvimento.educacao.rj.gov.br/SiteFornecedor/Shared/TrocarEmail" />

    <!-- Redefinição de Senha -->
    <add key="EmailRedefinicaoSenha_From" value="naoresponda@educacao.rj.gov.br" />
    <add key="EmailRedefinicaoSenha_FromName" value="Redefinição de Senha" />
    <add key="EmailRedefinicaoSenha_UserName" value="naoresponda@educacao.rj.gov.br" />
    <add key="EmailRedefinicaoSenha_Password" value="R&amp;ncc&amp;j@" />
    <add key="EmailRedefinicaoSenha_Subject" value="Redefinição de Senha" />
    <add key="EmailRedefinicaoSenha_UrlRoot" value=" https://conexao.educacao.rj.gov.br/ConexaoEducacao" />


    <add key="EmailComunica" value="comunica.educacao@educacao.rj.gov.br" />
    <add key="EmailComunica_Login" value="comunica.educacao@educacao.rj.gov.br" />
    <add key="EmailComunica_Senha" value="m@tr!cul@2f@se" />
    <add key="EmailComunica_Lotacao" value="adsi@educacao.rj.gov.br"/>

    <!-- Redes Sociais -->
    <add key="linkfacebook" value="https://www.facebook.com/seeducRJ" />
    <add key="linkinstagram" value="https://www.instagram.com/seeducrj/" />
    <add key="linkyoutube" value="https://www.youtube.com/channel/UCzhk54RUJtn1kwqU4LTNP-Q" />

    <!-- Link Site -->
    <add key="linksite" value="https://www.seeduc.rj.gov.br/" />
    
  </appSettings>

  <system.web>
    <httpRuntime enableVersionHeader="false" maxRequestLength="51200" executionTimeout="9000" />
    <httpCookies httpOnlyCookies="true" requireSSL="false" /> <!-- Valores padrão - httpOnlyCookies="false" requireSSL="false" -->
	
    <browserCaps>
      <filter>
        <case match="Opera[/](?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*))">
          <filter match="[5-9]" with="${major}">
            w3cdomversion=1.0
            tagwriter=System.Web.UI.HtmlTextWriter
          </filter>
        </case>
        <case match="^Mozilla/(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*)).*">
          <case match="^[4-9]\." with="${version}">
            <filter match="^[5-9]*" with="${minor}">
              ecmascriptversion=1.3
              tagwriter=System.Web.UI.HtmlTextWriter
              css2=true
              w3cdomversion=1.0
              xml=true
            </filter>
          </case>
        </case>
      </filter>
    </browserCaps>

    <!-- Habilita algumas características para browser IE5 ou superior. Não tem efeito sobre outros browsers -->
    <!-- Não pode ser usado o smartNavigation porque ele provoca múltiplos requests em cada página -->
    <!-- validateRequest setado para false por causa do erro "A potentially dangerous Request.Form value was detected from the client" -->
    <!-- Apesar da mensagem de erro citada no comentário acima, valor "true" de validateRequest foi novamente atribuído (vulnerabilidade) -->
    <pages validateRequest="true" viewStateEncryptionMode="Always" smartNavigation="false" theme="Blue" maintainScrollPositionOnPostBack="true">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="lyweb" namespace="Techne.Lyceum.Web" assembly="Techne.Lyceum.Control" />
        <add tagPrefix="tweb" namespace="Techne.Web" assembly="Techne.Lyceum.Control" />
        <add tagPrefix="techne" namespace="Techne.Controls" assembly="Techne.Lyceum.Infra" />
        <add tagPrefix="dxwgv" namespace="DevExpress.Web.ASPxGridView" assembly="DevExpress.Web.ASPxGridView.v9.2, Version=9.2.13.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dxe" namespace="DevExpress.Web.ASPxEditors" assembly="DevExpress.Web.ASPxEditors.v9.2, Version=9.2.13.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dxtc" namespace="DevExpress.Web.ASPxTabControl" assembly="DevExpress.Web.v9.2, Version=9.2.13.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dxw" namespace="DevExpress.Web.ASPxClasses" assembly="DevExpress.Web.v9.2, Version=9.2.13.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dxpc" namespace="DevExpress.Web.ASPxPopupControl" assembly="DevExpress.Web.v9.2, Version=9.2.13.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dxrp" namespace="DevExpress.Web.ASPxRoundPanel" assembly="DevExpress.Web.v9.2, Version=9.2.13.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dxp" namespace="DevExpress.Web.ASPxPanel" assembly="DevExpress.Web.v9.2, Version=9.2.13.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="rsweb" namespace="Microsoft.Reporting.WebForms" assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </controls>
    </pages>

    <httpHandlers>
      <remove path="*.asmx" verb="*" />
      <add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>

    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger   file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP .NET files.
    -->
    <compilation debug="true" defaultLanguage="c#">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="vjslib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="DevExpress.Web.ASPxGridView.v9.2, Version=9.2.13.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.v9.2, Version=9.2.13.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxEditors.v9.2, Version=9.2.13.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Data.v9.2, Version=9.2.13.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxTreeList.v9.2, Version=9.2.13.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>

    <!--  CUSTOM ERROR MESSAGES
          Set customError mode values to control the display of user-friendly 
          error messages to users instead of error details (including a stack trace):

          "On" Always display custom (friendly) messages  
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
          on the local Web server. This setting is recommended for security purposes, so 
          that you do not display application detail information to remote clients.
    -->
	
    <!-- <customErrors mode="RemoteOnly" defaultRedirect="~/Manutencao/404.aspx">
      <error statusCode="404" redirect="~/Manutencao/404.aspx" />
      <error statusCode="403" redirect="~/Manutencao/403.aspx" />
    </customErrors>  
	-->
	
	<customErrors mode="Off" >
    </customErrors> 
	
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", 
          "Passport" and "None"
    -->
    <authentication mode="Forms">
      <forms loginUrl="Seguranca/Identificacao.aspx" name=".ASPXFORMSAUTH" timeout="60" path="/" requireSSL="false" slidingExpiration="true" />
    </authentication>

    <authorization>
      <!--<deny users="?"/>  -->
      <!--<allow users="?" />-->
    </authorization>

    <machineKey validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE,IsolateApps" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F,IsolateApps" validation="SHA1" />

    <siteMap enabled="true" defaultProvider="Hades">
      <providers>
        <add name="Hades" menuName="LyceumGov" type="Techne.Web.HadesSiteMapProvider" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>

    <roleManager defaultProvider="Hades" enabled="true">
      <providers>
        <add type="Techne.Web.HadesRoleProvider" name="Hades" />
      </providers>
    </roleManager>

    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="100" pageOutput="false" traceMode="SortByTime" localOnly="true" />

    <!--  SESSION STATE SETTINGS
          By default ASP .NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="1800" />

    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="pt-BR" uiCulture="pt-BR" />

    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v9.2, Version=9.2.13.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
  </system.web>

  <system.net>
    <mailSettings>
      <smtp>        
        <network host="smtp.office365.com" port="587" defaultCredentials="false" userName="comunica.educacao@educacao.rj.gov.br" password="m@tr!cul@2f@se" />
      </smtp>
    </mailSettings>    
  </system.net>

  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>

  <system.webServer>
    <!-- Configuração de cache de objetos (conteúdo) estáticos no cliente (browser) -->
    <staticContent>
        <clientCache httpExpires="Wed, 05 Aug 2015 23:00:00 GMT" cacheControlMode="UseExpires" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="100288000" />
      </requestFiltering>
    </security>
    <httpProtocol>
        <customHeaders>
            <!-- Tenta remover headers http enviados automaticamente pelo IIS -->
            <remove name="X-Powered-By" />
            <remove name="X-AspNet-Version" />
            <remove name="X-AspNetMvc-Version" />
            <!-- Adiciona diretiva ao header http para impedir carregamento do site em frames de terceiros -->
            <add name="X-Frame-Options" value="SAMEORIGIN" />
            <!-- Adiciona diretiva ao header http para impedir "sniffing" de MIME type pelo browser -->
            <add name="X-Content-Type-Options" value="nosniff" />
            <!-- Adiciona diretiva ao header http para ativar proteção contra XSS no browser IE 8/9, que é desativada por padrão -->
            <add name="X-XSS-Protection" value="1; mode=block" />
        </customHeaders>
    </httpProtocol>

    <validation validateIntegratedModeConfiguration="false" />

    <modules>
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v9.2, Version=9.2.13.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
      <!--<add name="dynaTrace IIS7 Webserver Agent 5.5.0" preCondition="bitness32" />-->
    </modules>

    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>