@using SRV.Models.DTO


<div class="toolbar">
    <div class="toolbarBorder">
    </div>
</div>

<div class="boxContent" style="text-align:  center">

    <img src="@Url.Content("~/Content/images/background.png")" width="500" height="495" style="padding:10px 0 50px 0;" />


</div>
   