<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="techne">
      <section name="database" type="Techne.Configuration.NameValueSectionHandler, Techne.Lyceum.Infra" allowLocation="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" restartOnExternalChanges="true" />
    <section name="seeducInfra" type="Seeduc.Infra.Configuration.SectionHandler, Seeduc.Infra" restartOnExternalChanges="true" />
  </configSections>
  <techne>
    <database>
      <!--<add key="Login" value="Provider=SQLOLEDB.1;Application Name=Techne LyceumWeb;Initial Catalog=Hades;Data Source=.\SQLEXPRESS;User Id=console_tests;Password=1q2w3e4r5t6;Connect Timeout=30" />
      <add key="Hades" value="Provider=SQLOLEDB.1;Application Name=Techne LyceumWeb;Initial Catalog=Hades;Data Source=.\SQLEXPRESS;User Id=console_tests;Password=1q2w3e4r5t6;Connect Timeout=30" />
      <add key="HadesLyc" value="Provider=SQLOLEDB.1;Application Name=Techne LyceumWeb;Initial Catalog=Hades;Data Source=.\SQLEXPRESS;User Id=console_tests;Password=1q2w3e4r5t6;Connect Timeout=30" />
      <add key="Lyceum" value="Provider=SQLOLEDB.1;Application Name=Techne LyceumWeb;Initial Catalog=Lyceum;Data Source=.\SQLEXPRESS;User Id=console_tests;Password=1q2w3e4r5t6;Connect Timeout=30" />-->
      <add key="Login" value="Provider=SQLOLEDB.1;Application Name=Techne LyceumWeb;Initial Catalog=Hades;Data Source=10.12.18.10;User Id=console_tests;Password=1q2w3e4r5t6;Connect Timeout=30" />
      <add key="Hades" value="Provider=SQLOLEDB.1;Application Name=Techne LyceumWeb;Initial Catalog=Hades;Data Source=10.12.18.10;User Id=console_tests;Password=1q2w3e4r5t6;Connect Timeout=30" />
      <add key="HadesLyc" value="Provider=SQLOLEDB.1;Application Name=Techne LyceumWeb;Initial Catalog=Hades;Data Source=10.12.18.10;User Id=console_tests;Password=1q2w3e4r5t6;Connect Timeout=30" />
      <add key="Lyceum" value="Provider=SQLOLEDB.1;Application Name=Techne LyceumWeb;Initial Catalog=Lyceum;Data Source=10.12.18.10;User Id=console_tests;Password=1q2w3e4r5t6;Connect Timeout=30" />
    </database>
  </techne>
  <log4net debug="false">
    <appender name="LogRollingFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <file type="log4net.Util.PatternString" value="C:\Logs\ConsoleTests\Seeduc.Infra.Log_" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <datePattern value="yyyy-MM-dd'.txt'" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%newline[%date - %logger]%newline%-5level%newline%message%newline"/>
      </layout>
    </appender>
    <root>
      <priority value="ERROR"/>
      <appender-ref ref="LogRollingFileAppender"/>
    </root>
    <category name="Seeduc.Infra">
      <priority value="ERROR"/>
    </category>
  </log4net>
  <seeducInfra>
    <contextQuery executionTimeout="35">
      <bulk enable="true" size="30" />
    </contextQuery>
    <log enable="true" />
  </seeducInfra>
</configuration>