.titulo
{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #0353AB;
	text-align:center;
}
.tablePrincipal
{
	padding: 1px 3px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	width: 447px;
}
.tdTituloPrincipal
{
	background-color: #BFD7F3;
	border-width: 1px;
	font-weight: bold;
	text-align: right;
}

.tdFrequenciaGlobal
{
	background-color: #BFD7F3;
	border-width: 1px;
	font-weight: bold;
	text-align: right;
}

.tdPrincipal
{
	border: 1px #9F9F9F solid;
}
.tabela-padrao-principal 
{
	width: 850px;
}
.tabela-padrao .tabela-cabecalho
{
	background: url(../Images/tabela_cabecalho_els.gif) repeat-x;
	background-position: 0px 0px;
	padding: 5px 0px 0px 10px;
	height: 25px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #0353AB;
	padding: 5px 0px 0px 10px;
	height: 30px;
	-webkit-region-break-inside: avoid;
	page-break-inside: avoid;
	position: relative;

}

.tabela-padrao .tabela-cabecalho img.aba-direita
{
	float: right;
}

.tabela-padrao .tabela-cabecalho .aba-esquerda
{
	float: right;
	background: url(../Images/tabela_cabecalho_abaesq.gif) no-repeat;
	background-position: 0px -5px;
	height: 30px;
	width: 60px;
}

.tabela-padrao .tabela-cabecalho div.centro
{
	float: right;
	background: url(../Images/tabela_cabecalho_grade_els.gif) repeat-x;
	background-position: 0px -5px;
	height: 25px;
	min-width: 60px;
	padding: 5px 5px 0px 5px;
}

.tabela-padrao .tabela-legenda li
{
	float: right;
	margin-left: 10px;
	list-style: none;
}

.tabela-padrao .tabela-legenda .caixinha-cor
{
	display: inline-block;
	width: 20px;
	height: 12px;
	background-color: #F00;
	float: left;
	margin: 0px 4px;
}

.tabela-padrao .tabela-legenda .legenda-azul
{
	background-color: #0000ff;
}

.tabela-padrao .tabela-legenda .legenda-vermelho
{
	background-color: #F00;
}

.tabela-padrao .tabela-legenda .legenda-verde
{
	background-color: #080;
}

.tabela-padrao table
{
	border-collapse: collapse;
}

.tabela-padrao table td
{
	border-collapse: collapse;
	border: 1px solid #C0C0C0;
	padding: 4px;
}

.tabela-padrao table thead tr
{
	background-color: #BFD7F3;
	font-weight: bold;
}

.tabela-padrao table tr.linha-alternada
{
	background-color: #F0F0F0;
}

.tabela-padrao .expansor
{
	background-image: url(../Images/ico_maximini.png);
	background-repeat: no-repeat;
	background-position: right; /* começa sempre maximizado */
	width: 11px;
	height: 11px;
	float: left;
	display: inline-block;
	margin-right: 4px;
	cursor: pointer;
}

.tabela-padrao .td-centro
{
	text-align: center;
}

.tabela-padrao table
{
	width: 100%;
}

.tabela-padrao thead td
{
	border-color: #BFD7F3;
}
.tabela-padrao tfoot td
{
	background-image: url(../Images/tabela_rodape.gif);
	background-repeat: no-repeat;
	height: 28px;
	vertical-align: bottom;
	color: #FFF;
	border-width: 0px;
}
.tabela-padrao table td.centralizado-micro
{
	text-align: center;
	width: 40px;
}
.tabela-padrao table td.centralizado-micro-titulo
{
	text-align: center;
	width: 40px;
	background-color: #BFD7F3;
}
.tabela-padrao table td.centralizado-micro input
{
	text-align: center;
	width: 40px;
	margin: 0px;
}
.tabela-padrao table td.centralizado-micro-disciplina
{
	text-align: center;
	width: 40px;
	background-color: #BFD7F3;
}
.tabela-padrao table td.centralizado-micro-totais
{
	text-align: center;
	width: 40px;
	background-color: #F0F0F0;
}

