<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="CustomConfiguration" type="Proderj.Foundation.Common.Configuration.CustomConfigurationSection, Proderj.Foundation.Common" />
	</configSections>
	<log4net debug="true">
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="C:\Temp\Proderj.DOL.Service.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="100MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
	</log4net>
	<CustomConfiguration>
		<loadSettings connectionID="debugConnectionString" databaseType="SQL">
			<mapAssemblies>
				<add assembly="Proderj.DOL.Domain.ClassMap" />
			</mapAssemblies>
		</loadSettings>
	</CustomConfiguration>
	<connectionStrings>
		<add name="debugConnectionString" connectionString="Data Source=10.11.69.201;Initial Catalog=LYCEUM;User ID=lcampos;Password=1234567" />
	</connectionStrings>
	<startup>
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
