@{
    Layout = null;
}

<div class="boxContent">

    <p>As colunas do arquivo de importação devem ser obrigatoriamente separadas por ponto-e-vírgula.</p>

    <table class="grid">
        
        @* Cabeçalho *@
        <thead>
            <tr>
                <th width="50px">Coluna</th>
                <th width="200px">Campo</th>
                <th width="100%">Descrição</th>
                <th width="120px">Tamanho Máximo</th> 
            </tr>
        </thead>

        @* Corpo *@
        <tbody>
            <tr class="gridrow">        
                <td width="50px">1</td>
                <td width="200px">COD_SERVIDOR</td>
                <td width="100%">Matrícula do Servidor</td>
                <td width="120px">8</td>
            </tr>

            <tr class="gridrow_alternate">
                <td width="50px">2</td>
                <td width="200px">DES_NOME_SERVIDOR</td>
                <td width="100%">Nome do Servidor</td>
                <td width="120px">70</td>
            </tr>

            <tr class="gridrow">        
                <td width="50px">3</td>
                <td width="200px">DES_CPF_SERVIDOR</td>
                <td width="100%">Cpf do Servidor</td>
                <td width="120px">11</td>
            </tr>

            <tr class="gridrow_alternate">        
                <td width="50px">4</td>
                <td width="200px">DES_ID_FUNCIONAL</td>
                <td width="100%">Id Funcional do Servidor</td>
                <td width="120px">50</td>
            </tr>

            <tr class="gridrow">        
                <td width="50px">5</td>
                <td width="200px">NM_VINCULO</td>
                <td width="100%">Vínculo</td>
                <td width="120px">3</td>
            </tr>
        </tbody>
    </table>      
</div>